$font-path: '../fonts/';

@import "fonts/open-sans";
@import "fonts/museo-sans";
@import "fonts/museo-slab";
@import "fonts/pacifico";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;

  //box-sizing: content-box;
  padding-top: 0;

  float: left;

  .step {
    opacity: 0;

    -webkit-transition:opacity .3s ease;
       -moz-transition:opacity .3s ease;
         -o-transition:opacity .3s ease;
            transition:opacity .3s ease;

    &.done {
      opacity: 1;
    }
  }

  display: none;

  &.visible {
    display: block;
  }
}

@import "theme";
@import "slides";