.slide--padding {
	padding: 80px 0 0 160px;
}

.slide--dark {
	background-color: #222;
}

.slide--img {
	background-color: $base-color;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;

	&:before {
		content: '';

		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		background-color: rgba($base-color, .2);
	}
}

///

.slide-intro {
	background-image: url(/img/taplicious-table.jpg);

	.logo {
		position: fixed;
		top: 50%;
		left: 50%;
		margin: -80px 0 0 -80px;
	}

	&:before {
		background-color: rgba($base-color, .2);
	}
}