$base-color: #444444;
$white: #f5f5f5;

$grey-light: #F5F5F5;
$grey: #D8D8D8;
$grey-darker: darken($grey, 10%);

$accent: #FA6441;
$accent-dark: darken($accent, 5%);
$accent-alt: #55B392;

$bg-color: $accent;

$body-family: 'Museo Sans', 'Open Sans', Helvetica, Arial, sans-serif;
$body-weight: 300;
$body-line-height: 1.5em;

$heading-weight: 300;
$heading-line-height: 1.3em;

$size-xs: .8em;
$size-s: .9em;
$size-m: 20px;

$margin-xs: 8px;
$margin-s: 15px;
$margin-m: 25px;
$margin-l: 40px;

$padding-s: $margin-s $margin-s+5;
$padding-m: $margin-m $margin-m+5;

$border-style: solid;
$border-width: 2px;
$border-radius: 0px;

$opacity: .8;

////////////

body {
	font: $body-weight $size-m $body-family;
	color: $white;
	background-color: $bg-color;
	line-height: $body-line-height;
}

p,img,ul,ol,img {
	margin-bottom: $margin-m;
}

a {
	color: $base-color;
}

small {
	font-size: $size-s;
}

pre {
	padding-top: $margin-s;
	padding-bottom: $margin-s;
	border-left: 10px solid $accent;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: $heading-weight;
	margin-bottom: $margin-s;
	line-height: $heading-line-height;

	.ss-icon {
		font-size: $size-s;
		display: inline-block;
		margin-right: $margin-m;
	}
}

h1 {
	font-size: 2.8em;
}
h2 {
	font-size: 2.4em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.6em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1.1em;
}

ul,ol {
	margin-left: 24px;

	li {
		margin-bottom: $margin-xs;

		img {
			margin-bottom: 0;
		}
	}

	>ul,ol {
		margin-bottom: $margin-s;
		font-size: $size-s;
	}
}

ul {
	&.inline {
		li {
			display: inline-block;
			margin-bottom: 0;
			margin-right: $margin-m;
		}
	}
}

.column {
	overflow: hidden;

	&.half,&.one-third {
		float: left;
		padding-right: 2%;
	}

	&.half {
		width: 46%;
	}

	&.one-third {
		width: 29%;
	}
}

header {
	
}

footer.footer {
	font-size: $size-xs;
	font-style: italic;

	position: absolute;

	left: 80px;
	bottom: $margin-m;

	z-index: 99;
	color: rgba($white, .6);

	a {
		color: rgba($white, .6);
	}
}

.logo {
	width: 160px;
	height: 160px;
	overflow: hidden;

	img {
		width: 100%;
	}
}

.content--center {
	text-align: center;

	width: 100%;
	height: 100%;
	display: table;

	margin-top: -1em;

	&__cell {
		display: table-cell;
		vertical-align: middle;
	}
}

.iphone-img {
	background-color: $white;
	overflow: hidden;
	
	line-height: 0;
	width: 300px;
	margin: 0 auto;

	img {
		width: 100%;
		margin: 0;
	}	
}